@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1440px;
  --side-padding: 72px;
  --dark-gray: hsl(0, 0%, 55%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
